langchain
langchain_community
torch
accelerate
transformers
sentence_transformers
streamlit
streamlit_chat
faiss-cpu
altair
tiktoken
huggingface-hub
pymupdf  # for PDF handling, if necessary
pypdf  # Required for loading PDFs
