langchain
git+https://github.com/hwchase17/langchain.git#egg=langchain_community&subdirectory=langchain_community
torch
accelerate
# bitsandbytes (uncomment if needed)
transformers
sentence_transformers
streamlit
streamlit_chat
faiss-cpu
altair
tiktoken
huggingface-hub
